.wrapper{
    display: flex;
    justify-content: space-between
}

body{
    background-color: black;
}
h1{
    color: orange;
}
p{
    color: white;
}
h4{
    color: white;
}
h3{
    color: orange;
}